.section5{
  background: $primary-300;
  .title{
    &::before{
      content: '';
      position: absolute;
      background-color: white;
      width: 12px;
      height: 12px;
      border-radius: 12px;
      transform: translateY(80px);
    }
    &::after{
      content: "";
      position: absolute;
      background-color: white;
      width: 124px;
      height: 12px;
      border-radius: 12px;
      transform: translate(-205px, 80px);
    }
  }
  .icon{
    // background-color: $primary-100;
    vertical-align: text-top;
    margin-right: 4px;
  }


}

.section6{
  .card:nth-child(1){
    .card-body{
      z-index: 0;
      &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(/2023_web-layouting_week8/src/assets/img/diane_vertical.png);
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0;
        z-index: -1;
        transition: 0.5s;
      }
      &:hover{
        &::after{
          opacity: 0.5;
        }
      }
    }
  }
  .card:nth-child(2){
    .card-body{
      z-index: 0;
      &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(/2023_web-layouting_week8/src/assets/img/felix_vertical.png);
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0;
        z-index: -1;
        transition: 0.5s;
      }
      &:hover{
        &::after{
          opacity: 0.5;
        }
      }
    }
  }
  .card:nth-child(3){
    .card-body{
      z-index: 0;
      &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(/2023_web-layouting_week8/src/assets/img/karina_verticalgle.png);
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0;
        z-index: -1;
        transition: 0.5s;
      }
      &:hover{
        &::after{
          opacity: 0.5;
        }
      }
    }
  }
  .card:nth-child(4){
    .card{
      border-right: 0;
    }
    .card-body{
      z-index: 0;
      &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(/2023_web-layouting_week8/src/assets/img/vito_vertical.png);
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0;
        z-index: -1;
        transition: 0.5s;
      }
      &:hover{
        &::after{
          opacity: 0.5;
        }
      }
    }
  }


  .title-fs{
    font-size: 400px;
  }

}



