.index {
  //m_m
  &-news {
    @include gradient-r(#28085c 0%, #000 100%);

    h2 {
      margin-right: -$spacer * 2.5;
      letter-spacing: $spacer * 2.5;

      @include media-breakpoint-up(md) {
        margin-right: -$spacer * 3;
        letter-spacing: $spacer * 3;
      }
    }

    .self-rotate {
      animation: self-rotate360 10s infinite linear;
    }

    @keyframes self-rotate360 {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    .border-md-end {
      @include media-breakpoint-up(md) {
        border-right: 1px solid;
      }
    }
  }

  &-share {
    @include gradient-r(#000000 0%, #28085c 100%);

    h2 {
      letter-spacing: $spacer * 2.5;

      @include media-breakpoint-up(md) {
        letter-spacing: $spacer * 3;
      }
    }

    .circle-sm {
      @include circle(8px);
    }

    .circle-lg {
      @include circle(16px);
    }

    .swiper-scrollbar-drag {
      background-color: $white;
    }

    .swiper-scrollbar {
      background-color: rgba(225 225 225 / 20%);
    }

    &-card {
      min-height: 416px;

      @include media-breakpoint-up(md) {
        min-height: 351px;
      }
    }

    &-bgText {
      bottom: 0;
      left: 50%;
      font-size: $font-size-base * 8;
      color: rgba(255, 255, 255, 0.04);
      transform: translate(-50%, 40%);

      @include media-breakpoint-up(lg) {
        font-size: $font-size-base * 25;
      }
    }
  }
}

.index {
  //homer
  &-contact {
    padding-top: 144px;
    padding-bottom: 144px;
    background: $primary-300;

    h3 {
      letter-spacing: 3rem;
    }

    .content {
      &::before {
        position: absolute;
        width: 12px;
        height: 12px;
        content: "";
        background-color: white;
        border-radius: 12px;
        transform: translateY(-40px);
      }

      &::after {
        position: absolute;
        width: 124px;
        height: 12px;
        content: "";
        background-color: white;
        border-radius: 12px;
        transform: translate(20px, -108px);
      }
    }

    textarea {
      height: 120px;
    }

    .icon {
      margin-right: 4px;
      vertical-align: text-top;
    }

    @media (max-width: 768px) {
      padding-top: 60px;
      padding-bottom: 80px;

      .btn {
        width: 100% !important;
      }
    }
  }

  &-product {
    .card:nth-child(1) {
      .card-body {
        z-index: 0;

        &::after {
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          width: 100%;
          height: 100%;
          content: "";
          background-image: url("@/assets/img/diane_vertical.png");
          background-repeat: no-repeat;
          background-size: cover;
          opacity: 0;
          transition: 0.5s;
        }

        &:hover {
          &::after {
            opacity: 0.5;
          }
        }
      }
    }

    .card:nth-child(2) {
      .card-body {
        z-index: 0;

        &::after {
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          width: 100%;
          height: 100%;
          content: "";
          background-image: url("@/assets/img/felix_vertical.png");
          background-repeat: no-repeat;
          background-size: cover;
          opacity: 0;
          transition: 0.5s;
        }

        &:hover {
          &::after {
            opacity: 0.5;
          }
        }
      }
    }

    .card:nth-child(3) {
      .card-body {
        z-index: 0;

        &::after {
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          width: 100%;
          height: 100%;
          content: "";
          background-image: url("@/assets/img/karina_verticalgle.png");
          background-repeat: no-repeat;
          background-size: cover;
          opacity: 0;
          transition: 0.5s;
        }

        &:hover {
          &::after {
            opacity: 0.5;
          }
        }
      }
    }

    .card:nth-child(4) {
      .card {
        border-right: 0;
      }

      .card-body {
        z-index: 0;

        &::after {
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          width: 100%;
          height: 100%;
          content: "";
          background-image: url("@/assets/img/vito_vertical.png");
          background-repeat: no-repeat;
          background-size: cover;
          opacity: 0;
          transition: 0.5s;
        }

        &:hover {
          &::after {
            opacity: 0.5;
          }
        }
      }
    }

    .title-fs {
      font-size: 25rem;
    }

    @media (max-width: 992px) {
      .title-fs {
        font-size: 16rem;
      }
    }

    @media (max-width: 768px) {
      .card:nth-child(1),
      .card:nth-child(2),
      .card:nth-child(3),
      .card:nth-child(4) {
        .card-body {
          &::after {
            opacity: 0.5;
          }
        }
      }
    }

    @media (max-width: 375px) {
      .title-fs {
        font-size: 8rem;
      }
    }
  }
}

/* hover */
.photo:hover {
  box-shadow: rgba(143, 0, 255, 0.8) 0 0 16px 8px;
}

/* helper */
.img-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content-fit {
  width: 73.636364%;
  height: 100%;
}

/* utlis */

/* additional colors */
.text-hidden-pruple {
  color: #ad93cf;
}

/* position-common */
.pos-relative {
  position: relative;
}
.pos-absolute {
  position: absolute;
}
.z-auto {
  z-index: auto;
}
.z-100 {
  z-index: 100;
}
.z-200 {
  z-index: 200;
}
.child-align-horizon-center {
  top: 0;
  right: 0;
  left: 0;
}
.top-0 {
  top: 0;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}
.bottom-0 {
  bottom: 0;
}

/* text-indent */
.text-indent-8 {
  text-indent: 8px;
}
.text-indent-24 {
  text-indent: 24px;
}
.text-indent-48 {
  text-indent: 48px;
}
.text-indent-8 {
  text-indent: 8px;
}

/* display */
@media (min-width: 1760px) {
  .d-xxxl-none {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
  }
  .d-xxxl-block {
    /* stylelint-disable-next-line declaration-no-important */
    display: block !important;
  }
}

/* letter-spacing */
.letter-spacing-4d8 {
  letter-spacing: 4.8px;
}
.letter-spacing-32 {
  letter-spacing: 32px;
}
.letter-spacing-20 {
  letter-spacing: 20px;
}
.letter-spacing-24 {
  letter-spacing: 24px;
}
.letter-spacing-sm-24 {
  @media (min-width: 375px) {
    letter-spacing: 24px;
  }
}

.letter-spacing-md-48 {
  @media (min-width: 768px) {
    letter-spacing: 48px;
  }
}

.letter-spacing-xxxl-80 {
  @media (min-width: 1760px) {
    letter-spacing: 80px;
  }
}
.letter-spacing-md-8 {
  @media (min-width: 768px) {
    letter-spacing: 8px;
  }
}
.letter-spacing-md-16 {
  @media (min-width: 768px) {
    letter-spacing: 16px;
  }
}

/* font-style */
.font-style-normal {
  font-style: normal;
}

/* background-1-sm */
.h-474 {
  height: 520.133333vw;
}

/* background-1-lg */
.h-md-78 {
  @media (min-width: 768px) {
    height: 78.60136vw;
  }
}
.h-lg-67 {
  @media (min-width: 992px) {
    height: 67.79438vw;
  }
}
.h-xl-61 {
  @media (min-width: 1200px) {
    height: 61.33468vw;
  }
}
.h-xxl-56 {
  @media (min-width: 1400px) {
    height: 56.85249vw;
  }
}
.h-xxxl-45 {
  @media (min-width: 1760px) {
    height: 50.833333vw;
  }
}

/* background-2-lg */
// 背景2-lg 位置
.top-md-78 {
  @media (min-width: 768px) {
    top: 78.5vw;
  }
}
.top-lg-69 {
  @media (min-width: 992px) {
    top: 69.9vw;
  }
}
.top-xl-63 {
  @media (min-width: 1200px) {
    top: 63.6vw;
  }
}
.top-xxl-55 {
  @media (min-width: 1400px) {
    top: 55.07142vw;
  }
}
.top-xxxl-55 {
  @media (min-width: 1760px) {
    top: 55vw;
  }
}
.top-4xl {
  @media (min-width: 1920px) {
    top: 50.41666vw;
    // top: 968px;
  }
}
.h-md-105 {
  @media (min-width: 768px) {
    height: 140.5vw;
  }
}
.h-lg-87 {
  @media (min-width: 992px) {
    height: 100.45vw;
  }
}
.h-xl-79 {
  @media (min-width: 1200px) {
    height: 89vw;
  }
}
.h-xxl-78 {
  @media (min-width: 1400px) {
    height: 86.3vw;
  }
}
.h-xxxl-65 {
  @media (min-width: 1760px) {
    height: 68.5vw;
  }
}
.h-4xl {
  @media (min-width: 1920px) {
    height: 64vw;
  }
}

/* background-swiper-sm */
// swiper-sm-bg
.h-210 {
  height: 218.9vw;
}
.top-sm-474 {
  top: 524.13333vw;
}
.h-smp-190 {
  @media (min-width: 414px) {
    height: 250vw;
  }
}
.top-smp-465 {
  @media (min-width: 414px) {
    top: 465vw;
  }
}
.h-sm2p-152 {
  @media (min-width: 600px) {
    height: 152vw;
  }
}
.top-sm2p-438 {
  @media (min-width: 600px) {
    top: 468vw;
  }
}
.h-sm3p-135 {
  @media (min-width: 667px) {
    height: 135vw;
  }
}
.top-sm3p-435 {
  @media (min-width: 667px) {
    top: 465vw;
  }
}
.h-sm4p-120 {
  @media (min-width: 736px) {
    height: 120vw;
  }
}
.top-sm4p-428 {
  @media (min-width: 736px) {
    top: 468vw;
  }
}

/* background-swiper-lg */
.left-n160 {
  left: -172px;
}
.fs-96 {
  font-size: 6rem;
}
.lh-1d5 {
  line-height: 1.5;
}
// swiper-lg 背景位置調整
.top-md-89 {
  @media (min-width: 768px) {
    top: 140vw;
  }
}
.top-lg-76 {
  @media (min-width: 992px) {
    top: 105vw;
  }
}
.top-xl-66 {
  @media (min-width: 1200px) {
    top: 89vw;
  }
}
.top-xxl-53 {
  @media (min-width: 1400px) {
    top: 72.9vw;
  }
}
.top-xxxl-50 {
  @media (min-width: 1760px) {
    top: 66vw;
  }
}
.top-4xl-43 {
  @media (min-width: 1920px) {
    top: 54.9vw;
  }
}

/* content */

/* section-1-photo-area */
.top-16 {
  top: 16px;
}
.maw-1760px {
  max-width: 1760px;
}
.border-top-1 {
  border-top: 1px solid #fff;
}
.border-bottom-1 {
  border-bottom: 1px solid #fff;
}
.border-lg-top-0 {
  @media (min-width: 1200px) {
    border-top: 0;
  }
}
.border-lg-bottom-1 {
  @media (min-width: 1200px) {
    border-bottom: 1px solid #fff;
  }
}
// negative margin
.mx-md-n3 {
  @media (min-width: 768px) {
    margin-right: -12px;
    margin-left: -12px;
  }
}
.w-md-864 {
  @media (min-width: 768px) {
    width: 49.090909%;
  }
}
.w-md-416 {
  @media (min-width: 768px) {
    width: 23.636364%;
  }
}
.w-md-48 {
  @media (min-width: 768px) {
    width: 48.148148148%;
  }
}

/* swiper-sm */
.mah-md-1089 {
  @media (min-width: 768px) {
    height: 56.71875vw;
  }
}
.maw-md-948 {
  @media (min-width: 768px) {
    width: 49.375vw;
  }
}
.swiper-sm {
  width: 100%;
  margin: 0 auto;
}

/* swiper-lg */
.swiper-outter {
  max-width: 1760px;
  margin: 0 auto;
}
.index-swiper-lg {
  .swiper {
    width: 100%;
    max-height: 560px;
    margin: 0 auto;
    [class^="swiper-button-"] {
      width: 40px;
      color: transparent;
    }
  }
  .me-n32 {
    margin-right: -32px;
  }
  .swiper-lg-slide-padding {
    padding-right: 13.18%;
    padding-left: 13.18%;
  }

  /*  swiper-btn */
  .swiper-button-prev::after {
    position: absolute;
    left: 0;
    width: 9.375vw;
    height: 48px;
    content: "";
    background: url("https://i.imgur.com/J1IEJnV.png") no-repeat center/contain;
    background-size: 9.375vw 2.5vw;
  }
  .swiper-button-prev:hover::after {
    position: absolute;
    left: 0;
    width: 9.375vw;
    height: 48px;
    content: "";
    background: url("https://i.imgur.com/GYNbNCj.png") no-repeat center/contain;
    background-size: 9.375vw 2.5vw;
  }
  .swiper-button-next::after {
    position: absolute;
    right: 0;
    width: 9.375vw;
    height: 48px;
    content: "";
    background: url("https://i.imgur.com/U9JpZhu.png") no-repeat center/contain;
    background-size: 9.375vw 2.5vw;
  }
  .swiper-button-next:hover::after {
    position: absolute;
    right: 0;
    width: 9.375vw;
    height: 48px;
    content: "";
    background: url("https://i.imgur.com/ald6ZaD.png") no-repeat center/contain;
    background-size: 9.375vw 2.5vw;
  }
}

/*  animation */
.alphabox-circle {
  max-width: 196px;
  animation-name: rotate;
  animation-duration: 10s;
  animation-timing-function: cubic-bezier(0, 0, 1, 1); /* which means linear */
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
