footer {
  .copyright-end {
    display: none;
  }

  .nav-link:hover {
    color: $primary-100 !important;
  }

  @media (max-width: 767px) {
    .copyright-star {
      display: none;
    }

    .copyright-end {
      display: block;
    }
  }

}
